###> AWS ###
AWS_DYNAMODB_TABLE_NAME=company
AWS_SHARED_CREDENTIALS_FILE=/root/.aws/credentials
###< AWS ###

###> docker compose ###
COMPOSE_PROJECT_NAME=Mastery-collections-customerservice-mx
###< docker compose ###

###> PDM ###
# @see: https://github.com/pdm-project/pdm/issues/435#issuecomment-833198594.
PDM_CACHE_DIR=/app/.cache
###< PDM ###

###> PyLint ###
# Path where the `pylint` package will store cache artifacts.
# See: https://pylint.pycqa.org/en/latest/faq.html#where-is-the-persistent-data-stored-to-compare-between-successive-runs
PYLINTHOME=/app/.pylint_cache
###< PyLint ###
