version = 0.1

[default]

[default.global]
[default.global.parameters]
base_dir = "./.aws/sam/build-lambda"
build_dir = "./.aws/sam/build"
region = "us-east-1"
resolve_s3 = true
stack_name = "Fede-RL03-skeleton-aws-lambda-python"
tags = "com.Fede-RL03.source=\"https://github.com/Fede RL03/skeleton-aws-lambda-python\""
template_file = "./.aws/sam/template.yaml"

[default.local_start_api.parameters]
parameter-overrides = "DynamoDbUri=\"http://host.docker.internal:8000\""
port = 3001
warm_containers = "EAGER"

[default.deploy.parameters]
capabilities = "CAPABILITY_IAM"
parameter_overrides = "DynamoDbUri=\"\""

[test]

[test.global]
[test.global.parameters]
base_dir = "./.aws/sam/build-lambda"
build_dir = "./.aws/sam/build"
parameter_overrides = "ResourceNameSuffix=\"Test\" ServiceNameSuffix=\"-test\""
region = "us-east-1"
resolve_s3 = true
stack_name = "Fede-RL03-skeleton-aws-lambda-python"
template_file = "./.aws/sam/template.yaml"
